h1 Myths and Monsters Character Creator
div(class="topnav")
            a(href="/") Character
            a(href="classes") Classes
            a(href="races") Races
            a(href="backgrounds") Backgrounds 
            a(href="portrait") Custom Portrait