extends layout.pug 

block appContent
    div#out(class="split topleft")
        div(class="centered")
            h2 Outlander
            p 
            | One often considered to be wild by nature, an outlander makes their home away from
            | cities and towns. Many live in forests, others might reside on mountains, or even within them in caves and the like. 
            | An outlander is more at home beyond city walls than within.

    div#urch(class="split topright")
        div(class="centered")
            h2 Street Urchin
            p 
            | Living in the lowest dregs of society, an urchin has no prospects and no favor, thus they must struggle and fight to simply survive.
            | Both law and social norm frequently bend under the weight of the essential need of an urchin.
    div#far(class="split bottomleft")
        div(class="centered")
            h2 Far Traveler
            p 
            | Maybe coming from a country across the border or even from a land unheard of across the seas. A far traveler has 
            | seen many and more things that locals have not, but also find themselves unaware of local custom and culture. 

    div#vet(class="split bottomright")
        div(class="centered")
            h2 Veteran
            p 
            | One who has seen the perils of bloody conflict and come out the other side alive. A veteran is lacking in the naivety 
            | that many adventurers suffer from and they often wear scars as badges of honor from the endeavors they've survived.