extends layout.pug 

block appContent
        //img#icon(src='./pictures/war.png')
        
        div(class="split topleft")
            div(class="centered")
                h2 Warrior (Str & Con)
                p 
                | Either a moving fortress on the battlefield, a one archer firing squad, or just about 
                | anything in between. A warrior is the emodiment of martial prowess that dominates any 
                | battlefield they might find themselves on. A living weapon, honed and polished.

        div(class="split topright")
            div(class="centered")
                h2 Mage (Int & Wis)
                p 
                | Masters of the arcane and devestating foes in combat. The powers of a mage are as 
                | versatile and varied as the tomes one might find in their study. Mages can appear in 
                | any form and can weild a veritable menagerie of magic. Not to be underestimated.
        div(class="split bottomleft")
            div(class="centered")
                h2 Shadow (Dex & Cha)
                p 
                | A lethal knife in the dark, a swift arrow from the night, or even a gentle whisper
                | in a secluded study. A Shadow is one who is all but born from the darkness they now 
                | dwell in. 

        div(class="split bottomright")
            div(class="centered")
                h2 Priest (Wis & Con)
                p 
                | Beholden to gods old or new, a priest gets their power from up above 
                | or somewhere deep below. Regardless of the source, the effect is monumental 
                | and their might is not to be taken lightly.
 

