doctype html 
html(lang="en")
    head 
        title M&M Character Creator
        link(rel="stylesheet" href="pstyle.css")
        script(src='/socket.io/socket.io.js')
        script(src='pscript.js')
        link(rel="icon" type="image/x-icon" href="./pictures/dice.png")
    body
        include includes/header.pug
        block appContent