doctype html 
html(lang="en")
    head 
        title M&M Character Creator
        link(rel="stylesheet" href="pstyle.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Monoton&family=Playwrite+AU+SA:wght@100..400&display=swap")
        script(src='pscript.js')
        link(rel="icon" type="image/x-icon" href="./pictures/dice.png")
    body
        include includes/header.pug
        block appContent