extends layout.pug 

block appContent
    section(class="container")
        div#page(class="page")
            canvas#canvas 
        div#toolbar(class="toolbar")
            h2#drawplate Draw Your Character!
            label(for="stroke") Stroke 
            input#stroke(name="stroke" type="color")
            p 
                label(for="linewidth") Line Width 
                input#linewidth(name="lineWidth" type="number" value="5")
            button#clearbtn(onClick="savePic()") Save Drawing
