extends layout.pug 

block appContent
    div#human(class="split topleft")
            div(class="centered")
                h2 Human (+1 All)
                p 
                | Humanity lacks the longer lifespan as well as many of the other unique traits 
                | that other races hold. Despite this, humanity remains the most varied and imaginitive 
                | of all, granting them the potential to accomplish just about anything.

    div#elf(class="split topright")
        div(class="centered")
            h2 Elf (+2 Int, +1 Cha)
            p 
            | Pristine and Precise. Elves are the longest lived humanoid race in the world. This 
            | near excess of time on their hands results in most elves granting extreme care to 
            | perfection and excellence, for there is little reason for them to be anything but.
    div#dwarf(class="split bottomleft")
        div(class="centered")
            h2 Dwarf (+2 Con,+1 Wis,+1 Str)
            p 
            | Storied and stout. Dwarves are a longer lived race that tends to favor areas of rock and stone for settlements. 
            | They are known to be skilled artisans both when it comes to creating structures and monuments as well as masterwork weapons and armor.

    div#orc(class="split bottomright")
        div(class="centered")
            h2 Orc (+2 Str, +1 Con)
            p 
            | Reckless and rowdy. Orcs are considered to be monstrous by many in the world due to their exceedingly 
            | violent nature and brutish tendencies. However, not all orcs indulge the intense barbaric tendencies 
            | of their kin. Despite their savage upbringing, an orc is capable of much more if they truly put their mind to it.